<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.temanisolasi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".di.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TemanIsolasi">
        <activity
            android:name=".ui.forgetpassword.ForgetPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.detail.DetailSettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="true" />
        <activity
            android:name=".ui.base.guide.detail.DetailGuideActivity"
            android:exported="true" />
        <activity
            android:name=".ui.finishisolation.FinishIsolationActivity"
            android:exported="true" />

        <receiver
            android:name=".provider.AlarmReceiver"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ui.base.inputdata.InputDataActivity"
            android:exported="true" />
        <activity
            android:name=".ui.base.profile.editprofile.EditProfileActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.startisolation.StartIsolationActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.register.RegisterActivity"
            android:theme="@style/Theme.TemanIsolasi.White" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.TemanIsolasi.White" />
        <activity android:name=".ui.base.MainActivity" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:theme="@style/Theme.TemanIsolasi.White">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>